body{
    background-color: rgb(13, 139, 197);
    color: rgb(252, 0, 0);
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;

    background-image: url(assets/2.jpg);
    background-repeat: round;
}
img {
    width: 470px;
    height: 470px;
    border-radius: 100px;
}